.cardVotes {
	display: flex;
	justify-content: space-around;
	font-size: 16px;
}

.cardVoteItem {
	padding: 10px;
}

.voteTextSi {
	color: #4caf50;
}

.voteTextNo {
	color: #ff5252;
}

.voteTextAbst {
	color: #2196f3;
}

.voteTextAus {
	color: #2196f3;
}

.containerHeader {
	align-items: center;
	background-color: #bdbdbd;
	display: flex;
	justify-content: center;
	min-height: 30vh;
	padding: 5%;
	position: relative;
}

.containerResume {
	background-color: #fff;
	border-radius: 20px;
	bottom: -30px;
	position: absolute;
}

.containerResult {
	background-color: #e5e5e5;
	padding: 60px 20px 0 20px;
}

.containerVotes {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.header {
	max-width: 80%;
}

.title {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	overflow: hidden;
	text-align: center;
}

.voteDate {
	align-self: center;
}

.voteDetails {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	padding: 10px;
}

.voteItem {
	align-items: center;
	display: flex;
	font-weight: 700;
	justify-content: space-around;
}

.voteItem p {
	font-size: 16px;
	margin-right: auto;
	text-transform: capitalize;
}

.voteItem span {
	font-size: 16px;
	margin-left: auto;
}

@media only screen and (min-width: 768px) {
	.cardVotes {
		font-size: 30px;
		padding: 15px;
	}

	.cardVoteItem {
		padding: 20px;
	}

	.containerResult {
		padding: 120px 40px 0 40px;
	}

	.containerResume {
		bottom: -60px;
	}

	.containerVotes {
		padding: 20px;
	}

	.voteDetails {
		grid-template-columns: 1fr 1fr;
		padding: 20px;
	}

	.voteSearch {
		margin-left: auto;
		min-width: 400px;
	}

	.voteItem {
		padding: 0 20px;
	}

	.voteItem p {
		font-size: 20px;
	}

	.voteItem span {
		font-size: 20px;
	}

	.title {
		font-size: 40px;
	}
}
