.containerHeader {
	align-items: center;
	background-image: url('/bg-search.svg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	min-height: 30vh;
	padding: 10px;
}

.containerLaws {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr;
}

.containerResult {
	background-color: #b5b5b5;
	padding: 10px;
}

.buttonHeader {
	flex: 1 1 10%;
	margin-top: 50px;
}

.headerResult {
	padding: 10px 0;
}

.itemHeader {
	flex: 1 1 70%;
	padding: 10px;
}

.itemDate {
	flex: 1 1 20%;
	padding: 10px;
}
